.cat_name {
    font-weight: bold;
    padding: 0.5em;
}

.cat_desc {
    cursor: pointer;
}

.cat_list {
    list-style-type: none;
    padding-left: 1em;

}

.cat_row {
    display: inline;
    padding-bottom: 0.3em;
}

.load_button {
    border-style: solid;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    width: 10em;
}

.load_button:hover {
    background-color: lightgray;
    transition: 0.5s;
    cursor: pointer;
}
